<div *ngIf="loading" class="spinner" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading" class="patients-list">
    <div class="form-group">
        <mat-form-field class="search-field" appearance="fill">
            <mat-label>Buscar Paciente</mat-label>
            <mat-icon matSuffix>search</mat-icon>
            <input matInput type="text" autocomplete="off" class="searchInput" [(ngModel)]="searchTerm" />
        </mat-form-field>
    </div>

    <mat-card class="patient-card" *ngFor="let patient of patients | patientFilter:searchTerm">
        <mat-card-header>
            <div mat-card-avatar class="patient-header-image"  style="background-image: url({{patient.profilePic}});background-size: cover;"></div>
            <mat-card-title>{{ patient.firstName }}</mat-card-title>
            <mat-card-subtitle id="subtitle">{{ patient.email }} | {{ patient.cpf | mask: '000.000.000-00' }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image *ngIf="patient.profilePic != ''" src="{{patient.profilePic}}" alt="Foto do paciente" id="patient-image">
          <img mat-card-image *ngIf="patient.profilePic == null" src="https://img.icons8.com/pastel-glyph/2x/person-male.png" alt="Foto do paciente" id="patient-image">
          
          <mat-card-content>
            <p>
                Observações: {{ patient.patient.note }}
            </p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button (click)="deletePatient(patient.id)"> Excluir Paciente </button>
            <button mat-button (click)="newEvaluation(patient)"> Nova avaliação </button>
            <button mat-button> Consultar histórico </button>
        </mat-card-actions>
    </mat-card>
</div>



  