<div *ngIf="!loaded" class="spinner" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div>
    <div *ngIf="noneEvaluations == true" class="alert alert-danger" role="alert">
        Paciente ainda não possui avaliações
    </div>
    <mat-card *ngFor="let evaluation of patientEvaluations" class="user-card">
        <mat-card-header>
            <mat-card-title>Avaliação funcional</mat-card-title>
        </mat-card-header>
        

        <mat-card-content class="cardContent">
            <p> <span class="item"> Profissional responsável: </span> {{ evaluation.therapistName}} </p>
            <p> <span class="item"> Data da avaliação: </span> {{dateConversion(evaluation.date)}} </p>
            <p> <span class="item"> Local da avaliação: </span> {{ evaluation.location}} </p>
        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-button (click)="redirectToEvaluationDetails(evaluation.id)"> Acessar avaliação </button>
        </mat-card-actions>

    </mat-card> 
</div>